html {
    font-family: Lato, sans-serif;
    font-size: 100%
}

h2 {
    font-size: 1.25em;
    color: #6aa8dc;
    font-weight: 400;
}

li {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/arrow.png") 0 5px no-repeat;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/arrow.svg") 0 5px no-repeat;
    list-style-type: none;
    padding-left: 12px;
}

ul.sublist li {
    list-style: circle;
    background: none;
}

.clearfix::before,
.clearfix::after {
    display: table;
    content: "";
}

.clearfix::after {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

section.job-description img {
    height: 3em;
    width: 3em;
}

h1.footer {
    font-size: 0.75em;
}

p.employer {
    font-weight: 300;
    color: #8a8784;
}

header h1 { font-size: 2em }

section h1 {
font-size: 1.75em;
font-variant: all-small-caps;
}


