<!DOCTYPE html>
<html>
<head>
	<title>Benjamin Soung's Resume</title>
</head>
<body>
	<header>
		<h1>Benjamin Soung | Software Engineer</h1>
		<address>
			130 E 24TH ST
			<br />
			New York, NY 10010
			<br />
			<a href="mailto:bsoung@gm.slc.edu">bsoung@gm.slc.edu</a>
		</address>
		<hr />
	</header>
	<section>
		<h1>Goals</h1>

		<p>Enjoys challenges while maintaining a proactive attitude. Desire to grow and passionate about new technologies. Loves reading, working out, playing video games, and dancing.</p>
	</section>
	<section>
		<h1>Skills</h1>

		<h3>Programming Languages</h3>

		<ol>
			<li>HTML5</li>
			<li>CSS3</li>
			<li>SASS</li>
			<li>Ruby</li>
			<li>Javascript</li>
			<li>Python</li>
		</ol>

		<h3>Databases</h3>

		<ol>
			<li>MongoDB</li>
			<li>PostgreSQL</li>
		</ol>

		<h3>Platforms</h3>

		<ol>
			<li>Heroku</li>
			<li>Node</li>
			<li>Rails</li>
		</ol>

		<h3>Version Control</h3>

		<ol>
			<li>Git</li>
		</ol>

		<h3>Operating Systems</h3>

		<ol>
			<li>OSX</li>
			<li>Window</li>
		</ol>

		<h3>Other Tools</h3>

		<ol>
			<li>GulpJS</li>
			<li>Webpack</li>
			<li>Babel</li>
			<li>NPM</li>
		</ol>

		<h3>Soft Skills</h3>

		<ol>
			<li>Problem Solving</li>
			<li>Self Starting</li>
			<li>Patient</li>
			<li>Communication</li>
		</ol>
	</section>
	<section>
		<h1>Work Experience</h1>

		<table>
			<thead>
				<tr>
					<th>Time</th>
					<th>Name</th>
					<th>Location</th>
					<th>Position Title</th>
					<th>Responsibilities</th>
					<th>Contact Info</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						Jan 2017 -
						<br >
						March 2017
					</td>
					<td>
						Xiang 
						<br />
						Horse
					</td>
					<td>China</td>
					<td>
						Freelance 
						<br />
						Web Developer
					</td>
					<td>
						<ul>
							<li>Refactored site to Rails</li>
							<li>Integrated authentication</li>
							<li>Created blogging platform</li>
						</ul>
					</td>
					<td>
						<address>
							<a href="http://www.xianghorse.com">Xiang Horse</a>
						</address>
					</td>
				</tr>
				<tr>
					<td>
						May 2016 -
						<br >
						April 2017
					</td>
					<td>
						Academic 
						<br />
						Projects
					</td>
					<td>New York, NY</td>
					<td>
						Freelance 
						<br />
						Web Developer
					</td>
					<td>
						<ul>
							<li>Worked on various projects</li>
							<li>Implemented React, Redux, Mongo</li>
							<li>Utilized pair programming</li>
						</ul>
					</td>
					<td>
						<address>
							<br />
							<a href="https://www.github.com/bsoung">Benjamin's Github</a>
						</address>
					</td>
				</tr>
				<tr>
					<td>
						Mar 2016 -
						<br >
						May 2016
					</td>
					<td>
						Bleepr 
					</td>
					<td>New York, NY</td>
					<td>
						iOS 
						<br />
						Intern
					</td>
					<td>
						<ul>
							<li>Converted Objective-C to Swift</li>
							<li>Implemented Chat message bubble UI</li>
							<li>Debugged and modularized code</li>
						</ul>
					</td>
					<td>
						<address>
							<br />
							<a href="http://www.bleepr.com">Bleepr</a>
						</address>
					</td>
				</tr>
				<tr>
					<td>
						Jun 2015 -
						<br >
						Aug 2015
					</td>
					<td>
						Bleepr 
					</td>
					<td>New York, NY</td>
					<td>
						Finance 
						<br />
						Intern
					</td>
					<td>
						<ul>
							<li>VP of Wealth Management Mentorship</li>
							<li>Analyzed Case Studies</li>
							<li>Gained insight into financial industry</li>
						</ul>
					</td>
					<td>
						<address>
							<br />
							<a href="http://www.ml.com">Merrill Lynch</a>
						</address>
					</td>
				</tr>
			</tbody>
		</table>
	</section>
	<section>
		<h1>Education</h1>
		<table>
			<thead>
				<tr>
					<th>Time</th>
					<th>School</th>
					<th>Location</th>
					<th>Major</th>
					<th>Courses</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						Aug 2011 -
						<br >
						May 2015
					</td>
					<td>
						Sarah 
						<br />
						Lawrence
						<br />
						College
					</td>
					<td>New York, NY</td>
					<td>
						Bachelor
						<br />
						of Art
						<br />
						and Sciences
					</td>
					<td>
						<ul>
							<li>Introduction to Computer Science</li>
							<li>Web Design for the Liberal Arts</li>
							<li>Beginner Mobile Development</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</section>
	<section>
		<h1>Achievements</h1>

		<h3>Hackathon Musical</h3>
		<strong>March 2017 | Spotify</strong>
		<p>Created musical app that converts strings into music notes and allows remote devices to play notes via web socket.</p>

		<h3>Hackathon Winner</h3>
		<strong>May 2016 | TurnToTech</strong>
		<p>Created App using New York After School Programs API to help parents look up after school programs.</p>
	</section>
	<section>
		<h1>Hobbies and Interests</h1>
		<ul>
			<li>Hitchhiker's Guide to the Galaxy</li>
			<li>RPG Games</li>
			<li>Modern Dance</li>
			<li>Chinchillas</li>
			<li>Virtual Reality</li>
			<li>Concept Art</li>
		</ul>
	</section>
	<section>
		<h1>References</h1>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Position</th>
					<th>Company</th>
					<th>Contact</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						Paul Chong
					</td>
					<td>
						Web Developer
					</td>
					<td>
						Kelley Blue Book
					</td>
					<td>
						Available upon request
					</td>
				</tr>
				<tr>
					<td>
						JP Earnest
					</td>
					<td>
						Web Developer
					</td>
					<td>
						Carfax
					</td>
					<td>
						Available upon request
					</td>
				</tr>
				<tr>
					<td>
						Donna Oshiro
					</td>
					<td>
						Web Developer
					</td>
					<td>
						Freelance
					</td>
					<td>
						Available upon request
					</td>
				</tr>
				<tr>
					<td>
						Emily Montecalvo
					</td>
					<td>
						Web Developer
					</td>
					<td>
						Freelance
					</td>
					<td>
						Available upon request
					</td>
				</tr>
				<tr>
					<td>
						James Ganong
					</td>
					<td>
						Director of Software Engineering
					</td>
					<td>
						Red Ventures
					</td>
					<td>
						Available upon request
					</td>
				</tr>
				<tr>
					<td>
						Victor McLovich
					</td>
					<td>
						Software Developer
					</td>
					<td>
						LinkedIn Author
					</td>
					<td>
						Available upon request
					</td>
				</tr>
			</tbody>
		</table>
	</section>
	<footer>
		<strong>
			<p>Benjamin Soung | Software Engineer</p>
			<address>
				<a href="mailto:bsoung@gm.slc.edu">bsoung@gm.slc.edu</a>
			</address>
		</strong>
	</footer>

</body>
</html>




