<div class="row justify-content-center res-section">
  <footer class="bottom-links">
    <%= octicon "mark-github", height: 40, width: 50 %>
    <a href="mailto:mariah.acacia@gmail.com"><%= octicon "mail", height: 50, width: 50 %></a>
  </footer>
</div>
