<nav class="nav-bar d-flex">
  <ul class="nav nav-bar main-nav justify-content-between">
    <li class="p-2"><%= link_to "Education", "#", class: "links" %></li>
    <li class="p-2"><%= link_to "Skills", "#", class: "links" %></li>
    <li class="p-2"><%= link_to "Projects", "#", class: "links" %></li>
    <hr>
  </ul>
</nav>
