.main-nav {
  margin-top: 1em;
  padding-top: .75em;
  font-size: 1.5em;
  li {
    margin-right: 4em;
    margin-left: 4em;
  }
  border-top: 1px #E5E5E5 solid;
}


.skills-section p {
  padding-top: 0;
}
